[submodule "lib/cpp-properties"]
	url = https://github.com/vincenzopalazzo/cpp-properties.git
[submodule "lib/bitcoin-api-cpp"]
	path = lib/bitcoin-api-cpp
	url = https://github.com/vincenzopalazzo/bitcoin-api-cpp.git
